body {
    padding-top: 50px;
}

/* Masonry bricks or child elements */
.item {
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}

/* Masonry container */
@media screen and (max-width: 767px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media screen and (min-width: 1200px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media print {
    .must-hide {
        display: none;
    }

    div.basket.list-group {
        font-size: 16px;
    }

    span.productCount.badge {
        font-size: 16px;
    }
}

