body {
    padding-top: 50px;
}

.panel-product {
    width: 200px;
    margin: 0 10px 20px 10px;
    float: left;
}

@media print {
    .must-hide {
        display: none;
    }

    div.basket.list-group {
        font-size: 16px;
    }

    span.productCount.badge {
        font-size: 16px;
    }
}