body {
    padding-top: 50px;
}

/*
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
*/
.product {
/*    background: #d3a0a0;*/
    
}


.panel-product {
    width: 200px;
    float: left;
   margin: 0 10px 5px 10px;

}